
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

<!-- multi laper menu-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
  .dropdown-submenu {
    position: relative;
  }
  
  .dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
  }
  </style>



    <link rel="icon" href="static/favicon.ico">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!-- Bootstrap core CSS -->
    <!-- <link href="static/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="static/css/auto-complete.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="static/css/signin.css" rel="stylesheet">
 
    <link href='https://fonts.googleapis.com/css?family=Source Code Pro' rel='stylesheet'>
    <script src="static/js/jquery-1.9.0.js"></script>
    <script src="static/js/script.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="module" src="static/js/fetch.js"></script>
  
    <script src="static/js/auto-complete.min.js"></script>
    <script type="text/javascript">
      {% include "my_script.js" %}  <!--can use this method to get js that has jinja varialbes on here-->
    </script>
    <script type="text/javascript" src="static/data/data.json"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
   
  <script> // updated 2019
    const input = document.getElementById("search-input");
    const searchBtn = document.getElementById("search-btn");
    
    const expand = () => {
      searchBtn.classList.toggle("close");
      input.classList.toggle("square");
    };
    
    searchBtn.addEventListener("click", expand);
  </script>
    <title>Ajax test</title>

    <link href="static/css/my_style.css" rel="stylesheet">
    <link href="static/css/scss_css.css" rel="stylesheet">
  </head>

<body>
<div  class="navbar w3-bar w3-card-4 w3-black" style="border-radius: 0px;">
  <div class="w3-container w3-cell">
    
  <a href="/" class=" fas fa-home w3-bar-item w3-button" style='font-size:24px'></a>
  <a href="/hello" class="w3-bar-item w3-button">Hello api</a>
  <a href="/doc" class="w3-bar-item w3-button">Documentation</a>
  <a href="/easyui" class="w3-bar-item w3-button">EasyUi</a>


  
  <div class="w3-dropdown-hover" style="position: fixed;">
    <button class="w3-button" style="padding-right: 2px;">More <i style="margin-top: 3px;" class="fa fa-caret-down"></i></button>
    <div class="w3-dropdown-content w3-bar-block w3-card-4">
      <a href="/d3" class="w3-bar-item w3-button w3-black">D3</a>
      <a href="/tree_view" class="w3-bar-item w3-button w3-black ">Tree View</a>
      <a href="/network" class="w3-bar-item w3-button w3-black">D3 Network</a>
      <a href="/network1" class="w3-bar-item w3-button w3-black">D3 Network1</a>
      <a href="/network2" class="w3-bar-item w3-button w3-black">D3 Network2</a>
      <a href="/network3" class="w3-bar-item w3-button w3-black">D3 Network3</a>
      <a href="/multi" class="w3-bar-item w3-button w3-black">Multi Layer </a>
    </div>
  </div>



</div> <!--end of cell1-->


<div class="w3-container w3-cell">
  <div class="container">
    <input type="text" placeholder="Search...">
    <div class="search"></div>
  </div>
</div>  <!--end of cell2-->


<div class="w3-container w3-cell">
  <div class="dropdown" style="z-index: 10000; position: fixed; margin-left: 50%;">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Tutorials
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a tabindex="-1" href="#">HTML</a></li>
      <li><a tabindex="-1" href="#">CSS</a></li>
      <li class="dropdown-submenu">
        <a class="test" tabindex="-1" href="#">New dropdown <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a tabindex="-1" href="#">2nd level dropdown</a></li>
          <li><a tabindex="-1" href="#">2nd level dropdown</a></li>
          <li class="dropdown-submenu">
            <a class="test" href="#">Another dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">3rd level dropdown</a></li>
              <li><a href="#">3rd level dropdown</a></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<script>
$(document).ready(function(){
  $('.dropdown-submenu a.test').on("click", function(e){
    $(this).next('ul').toggle();
    e.stopPropagation();
    e.preventDefault();
  });
});
</script>
</div>  <!--end of cell3-->


  <!-- <div class="w3-right"><input type="text" class="w3-bar-item w3-input" style="padding-bottom: 11px; " placeholder="Search..">
  <a href="#" class="w3-bar-item w3-button w3-green"><i class="fa fa-search"></i></a>
  </div> -->
</div>

<div class="sidenav w3-card-4" style="font-family: Segoe UI,Arial,sans-serif;">
  <a href="#" onclick="on()" >Turn on overlay</a>
  <a href="/test">test</a>
  <a href="#clients">Clients</a>
  <a href="#contact">Contact</a>

  </div>


<div class="loader" id="loader">
  <script>
    $('#loader').addClass("hide-loader");
    $('#loader').removeClass("show-loader");
  </script>
</div>

<div class="w3-container" style="margin-top: 30px;">  

<div class="w3-cell-row">

  <div class="w3-container w3-cell" style="width: 10%">
  </div>
  <div class="w3-container w3-cell">

<div id="overlay"> 

    <script>
        function on() {
        document.getElementById("overlay").style.display = "block";
      };

      function off() {
        document.getElementById("overlay").style.display = "none";
      }
        
  </script>  

  <div class="loader w3-center" style="display: block;"></div>
  <button class="w3-button w3-green w3-hover-red w3-right w3-bottom" onclick="off()">Turn off overlay effect</button>
</div>

  <br>
  <div class="w3-card-2" style="width: 70%; margin-left: 5%; margin-top: 20px">
  <div class="w3-center"><a class="w3-xlarge w3-center" href="/array_test">array test</a> </div> 

  <div class="w3-code w3-margin jsHigh notranslate ">
  <pre>
    GET to backend route /array_test, which renders to array_test.html, 
    where data is submitted using async fetch function. 

    try {
      const response = await fetch(url, {
        method: 'POST', // or 'PUT'
        body: JSON.stringify(data), // data can be `string` or {object}!
        headers: {
          'Content-Type': 'application/json'
        }
      });
      json = await response.json();
      console.log(json);

      $('#original').html(JSON.stringify(data));
        
      $('#sorted').html(JSON.stringify(json));

  </pre> 
  </div>  <!--end of code-->
  <br>
</div> <!--end of array test -->

<div class="w3-card-2" style="width: 70%; margin-left: 5%;">

<h2 class="w3-center">fetch test </h2>

<div class="w3-code w3-margin jsHigh notranslate ">
<pre class="w3-medium " > use fetch function to grab data from flask:
    async function fetchtest() {

      let response = await fetch('/fetch');
      
      if (response.ok) { // if HTTP-status is 200-299
       // get the response body (the method explained below)
       let json = await response.text();
       console.log(typeof (json))  // string
       console.log("json out is here...");
       console.log(json);
       $("#fetch_result").html(json)  
      } else {
       alert("HTTP-Error: " + response.status);
      }
     
</pre>
</div> <!--end of code-->

<div style="margin-left: 20px;">
<button id="btn13" style="margin-right: 10px" class= "w3-button w3-green w3-hover-red">Fetch from /fetch using fetch</button>
</div>
<bdr>
<p class="w3-text-blue"> &nbsp;&nbsp;&nbsp;&nbsp;Return data: <span class="w3-text-black" > <div id="fetch_result"></div>  </span>  </p> 
</br>
</div> <!-- end of fetch test card-->

<div class="w3-card-2 w3-margin: 10px" style="width: 70%; margin-left: 5%;">
<h2 class="w3-center"> autocomplete test</h2>

<p class="w3-medium w3-margin"> option data is loaded from /static/data/data.json, click on submit, input value is sent to /form_process, then it got returned
  back. 
</p>
  <!-- start autocomplete test -->
  <form action="/form_process" autocomplete="off" style="border-top: 1px solid #eee;border-bottom:1px solid #eee;;margin:30px 0;padding:20px 10px;text-align:center">
    <input id="hero-demo" autofocus type="text" name="q" placeholder="Programming languages ..." >
    <button class="w3-button w3-blue" >submit</button>
  </form>
  <script src="static/js/autocomplete.js"></script>
   <p class="w3-text-blue"> &nbsp;&nbsp;&nbsp;&nbsp;Return data: <span class="w3-text-black" > {% if form_data -%} {{form_data -}} {%endif%}   </span>  </p> 
   <br>
  <!-- end autocomplete test -->
  </div> <!--end of autocomplete card-->  

  <div class="w3-card-2" style="width: 70%; margin-left: 5%;">
    <p class="w3-large w3-margin">Data received from server</p>

    <table id="customers" style="table-layout: auto; position: relative; left: 30px;" class="w3-border">
        <tr>
                <th style="width: 5%">Select</th>
                <th style="width: 20%">XC ID</th>
                <th>Configure Command</th>
        </tr>
        
    {% for item in data %}
      {% for key, value in item.items()%}
      
    <tr>
      {% autoescape false %}     
      <td><input type="checkbox" class="checkboxClass" value="{{value}}""> </td>
      <td> {{key}}</td>  
      <td> {{value}} </td>
      {% endautoescape %} 
       
  </tr>
     {% endfor%} <!--end dict loop--> 
  {%- endfor -%} <!-- end array loop-->
  </table>

<br>
<script>
  function reload_page() {
    window.location.href = "/";
  }
</script>
<hr style = "border-top: 1px solid; width: 90%; position: relative; left: 30px;"  class="w3-center w3-green">
<span style="position: relative; left: 30px;" ><button class="w3-button w3-green w3-hover-red" type="button" id="btn11">send entire data</button> 
<button class="w3-button w3-green w3-hover-red" type="button" id="btn12">send selected data</button> 


</span>

<hr style = "border-top: 1px solid; width: 90%; position: relative; left: 30px;"  class="w3-center w3-green">
<br>
<div class="w3-panel w3-red w3-card-4 w3-margin" id="secret_field"> </div>
<div class ="w3-panel w3-card-4 w3-margin" id="createtable"></div>



<p class="w3-large w3-margin" > Data is hosted on first page ("/"), Flask backend returns json and string test data and renders them to /apphome.html page. </p>
    
<div class="w3-code w3-margin jsHigh notranslate">
<pre>
  def first_page():
  data = [ 
          {"IP":"1.1.1.1",
           "CONFIG1": "blah",
           "CONFIG2": "bleh"
          }, 
         
          {"IP":"2.2.2.2",
            "CONFIG1": "blah2",
            "CONFIG2": "bleh2",
          },

          {"IP":"3.3.3.3",
            "CONFIG1": "blah3",
            "CONFIG2": "bleh3",
          }

         ]
  string_var = "192.168.1.1"

  session["cli_username"] = "cli_username_value"
  session["cli_password"] = "cli_password_value"

  return render_template('apphome.html', data=data, string_var=string_var)
</pre>
</div> <!--end of code -->
 
<p class="w3-large w3-margin" > Press the button, the above data (data, string_var) will be sent to Flask below route, then returned back.</p>
 
 <div class="w3-code w3-margin jsHigh notranslate ">
 <pre> @app.route('/result')
  def result():
      data = request.args.get('data')
      return data

JQuery Ajax:
      $.ajax({url:"/result", data: {"data": obj }, success: function(res){ ...}
    </pre>
</div> <!-- end of code -->
      <p class="w3-large w3-margin">return data is in res</p>

      
<br>

</div> <!--end of send data card-->  

</div> <!--end of cell-->
</div>  <!-- end of cell row-->
</div> <!-- end of container-->

</body>
</html>

