<!DOCTYPE html>
<meta charset="utf-8">
<style>

.active {
  stroke: #000;
  stroke-width: 2px;
}

.rect {
  pointer-events: all;
  stroke: none;
  stroke-width: 80px;
}


.link {
  stroke: #999;
  stroke-width: 2px;
}

svg {
 
  background-color: lightgray;

}
</style>

<body>

<script src="//d3js.org/d3.v4.min.js"></script>
<script>
 var shiftKey;
var margin = {top: 10, right: 10, bottom: 30, left: 10},
    width = 960 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;
i = 0;
var rectangles = d3.range(3).map(function() {
  return {
    x: Math.round(Math.random() * (width)),
    y: Math.round(Math.random() * (height)),
	  id: i++
  };
});

console.log(rectangles);

var color = d3.scaleOrdinal(d3.schemeCategory20);

var svg = d3.select("body").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom);



///
var link = svg.append("g")
  .attr("class", "link")
  .selectAll("line");

link_data = [ {"num":"a1", "source":"0", "target":"1"}, {"num": "a2", "source":"1", "target":"2"}
      ];

  link = link
    .data(link_data)
    .enter().append("line")
      .attr("x1", function(d) { return rectangles[d.source].x; })
      .attr("y1", function(d) { return rectangles[d.source].y; })
      .attr("x2", function(d) { return rectangles[d.target].x; })
      .attr("y2", function(d) { return rectangles[d.target].y; })
      .attr("class", function(d) { return d.num });

///


var group = svg.selectAll('g')
  .data(rectangles)
  .enter().append("g")
  .attr("transform", 
         "translate(" + margin.left + "," + margin.top + ")")
  
    .call(d3.drag()
    
    .on("drag", dragged));
   

group.append("rect")
     .attr("x", function(d) { return d.x; })
     .attr("y", function(d) { return d.y; })
     .attr("height", 60)
     .attr("width", 30)
     .on("mousedown", mousedowned)
     .style("fill", function(d, i) { return color(i); });
  
group.append("text")
     .attr("x", function(d) { return d.x; })
     .attr("y", function(d) { return d.y; })
       .attr("text-anchor", "start")
       .style("fill", "steelblue")
       .text(function(d) { return d.id});  
    

function dragged(d) {
  d3.select(this).select("text")
    .attr("x", d.x = d3.event.x)
    .attr("y", d.y = d3.event.y);
  rect_data = d3.select(this).select("rect")
    .attr("x", d.x = d3.event.x)
    .attr("y", d.y = d3.event.y);
      
  //update line position
  for (let i = 0; i < lines_data.length; i++) {
      
    const object = lines_data[i];
    for (const [key, value] of Object.entries(object)) {
      // //console.log(key, value);
 
    // key has value of which node, value has info about which side, if source x1,y1, if target x2, y2
    if (value == 'source'){
      class_select = lines_data[i]["line"].toString();
      //console.log("class_select", typeof(class_select));
      d3.selectAll("." + class_select)
      .attr("x1", d.x)
      .attr("y1", d.y);
    
    }

    if (value == 'target') {
      class_select = lines_data[i]["line"].toString();
       d3.selectAll("." + class_select)
      .attr("x2", d.x)
      .attr("y2", d.y);
      }
      

    }
  }

  
  //console.log("dragged", lines_data );
 
    

  }
   
  

// function dragged(d) {
//     nudge(d3.event.dx, d3.event.dy);
//   }
var lines_data = [];
function mousedowned(d) {
    lines_data = [];
    if (shiftKey) {
      d3.select(this).classed("selected", d.selected = !d.selected);
      d3.event.stopImmediatePropagation();
    } else if (!d.selected) {
      d3.select(this).classed("selected", function(p) { return p.selected = d === p; });
      //get node name 
      //get line(s), it's tied to node name
      //get if it's source or target 
      //mark line(s) and source and target

    }
      node_name = d.id.toString();
      //console.log("node_name type", typeof(node_name))
      temp_dict = new Object();
      for (var i = 0; i < link_data.length; i++ ) {
        if (link_data[i].source == node_name ){
          temp_dict[node_name] = 'source';
          temp_dict["line"] = link_data[i]["num"]
          lines_data.push(temp_dict);
          
        }

        
        if (link_data[i].target == node_name ) {
          temp_dict[node_name] = 'target';
          temp_dict["line"] = link_data[i]["num"]
          lines_data.push(temp_dict);

        } 

        
          temp_dict = {};
        }
      // //console.log("in mousedowned", lines_data);
      return(lines_data);
      
  
}




</script>


</body>