<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="static/js/jquery-1.9.0.js"></script>
<style>
.collapsible {
  background-color: green;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
</style>

</head>


<body>


<div class="w3-bar"> Selet slot/card then click on Submit <button id="config_submit" class="w3-btn w3-black w3-margin-left" onclick="config_profile()">Submit</button> </div>


<script>
var display_data = {{data1|safe }};
console.log(display_data);





</script> 

<div class ="w3-panel w3-card-4 w3-margin" id="createtable"></div>


<script>

$("#createtable").empty();

slot = display_data[0]['card_id'].split('/')[0];

$("#createtable").append('<button type="button" class="collapsible"> SLOT ' + slot + '</button>');

for(let i = 0; i < display_data.length; i++){

    

if (display_data[i]['card_id'].split('/')[0] == slot) {

    console.log("in equal" , slot)

var html = '<div class="content">' + 
           '<input type="checkbox" name="card_id" value=' + display_data[i]["card_id"] +  '>' +
           '<span>  &nbsp;  </span>' +
            display_data[i]['card_id'] + '<span>  &nbsp;  </span>' +
            'card type ' + display_data[i]['card_type'] + '&nbsp;' +
            
            '</div>'
    $("#createtable").append(html);

} else {

    slot = display_data[i]['card_id'].split('/')[0];
    console.log( "in else", slot)
    $("#createtable").append('<button type="button" class="collapsible"> SLOT ' + slot + '</button>');
    $("#createtable").append(html);
  }


}

</script>


<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
   var content = $(this).nextUntil("button");
   
   for (i = 0; i < content.length; i++) {
   if (content[i].style.display === "block") {
      content[i].style.display = "none";
    } else {
      content[i].style.display = "block";
    }
   }
  });
  
}

</script>

<script>
        $("#config_submit").click(function(){
                    var favorite = [];
                    $.each($("input[name='card_id']:checked"), function(){
                        favorite.push($(this).val());
                    });
                    alert("Checked box is : " + favorite.join(", "));
                });
        
        
        
        </script>

</body>
</html>
